.grid{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
}

.card{
    padding: 1rem;
    border: 2px solid gray;
    box-shadow: -5px -5px 5px black;
}
.card:hover{
    box-shadow: 5px 5px 5px black;
}