.grid{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
}

.card{
    padding: 1rem;
    border: 2px solid gray;
    box-shadow: -5px -5px 5px black;
}
.card:hover{
    box-shadow: 5px 5px 5px black;
}


.one, .two{
    color: teal;
    font-size: 3rem;
    font-weight: bold;
}
.two span{
    color: purple;
}

nav > a{
    font-size: 2rem;
    margin-right: 10px;
    text-decoration: none;
    border: 2px solid black;
}